.main-content {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, var(--color-dark-gray), var(--color-light-gray));
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.7rem;
    background-color: var(--color-light-blue);
    border-radius: 3px;
    padding: 1rem 3vw;
    color: white;
}