.main-content {
    width: 100%;
    background: linear-gradient(to bottom, var(--color-dark-gray), var(--color-light-gray));
}

.article {
    background: var(--color-light-gray);
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 0px var(--color-black);
    height: 200px;
    width: 300px;
    transition: box-shadow 0.2s ease, transform 0.1s ease;
}

.article-container{
    position: relative;
    height: 200px;
    width: 300px;
}

.article:hover {
    box-shadow: 0px 2px 5px 0px var(--color-black);
}

.article:active {
    transform: scale(0.99);
}


.articles {
    border: solid 1px var(--color-black);;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}


.category {
    background-color: var(--color-trasparent-gray);
    border-radius: 15px;
    padding: 1rem;
    margin: 2rem;
    box-shadow: 0px 2px 13px -10px var(--color-black);
}

.list-articles {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;
}


.header-articles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.article-price {
    display: inline-flex;
}

.value-price {
    font-size: 1.6rem;
    font-weight: 500;
}

.article-details {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
}

.dolar-price {
    font-size: 0.8rem;
}